.friends_list {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /*  */
  margin-bottom: 50px;
  box-shadow: 0 0 10px #3f5050ed;
  overflow: hidden;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  gap: 20px;
  box-shadow: 0 0 10px #b3f2c4ed;
}

.online,
.offline {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  /* margin-right: 5px; */
}

.online {
  background-color: rgb(13, 240, 13);
}

.offline {
  background-color: red;
}

.name {
  font-weight: 500;
  font-size: 20px;
}
